<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Users</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>Users List</h2>
        <table class="table table-stripped">
            <tr>
                <th>Name:</th>
                <th>Email Id:</th>
                <th>Phone Number:</th>
            </tr>
            <tr th:each="us : ${users}">
                <td th:text="${us.name}"></td>
                <td th:text="${us.emailId}"></td>
                <td th:text="${us.phoneNumber}"></td>

                <ul th:if="${not #lists.isEmpty(us.interests)}">
                    <li th:each="in: ${us.interests}"  th:text="${in.description}"></li>
                </ul>

                <ul th:if="${not #lists.isEmpty(us.reviews)}">
                <li th:each="review1: ${us.reviews}"  th:text="${review1.review}"></li>
                </ul>

                <ul th:if="${not #lists.isEmpty(us.places)}">
                    <li th:each="place: ${us.places}"  th:text="${place.description}"></li>
                </ul>
            </tr>

        </table>
    </div>
</div>
</body>
</html>