<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td th:text="${User.name}"></td>
                <td th:text="${User.emailId}"></td>
                <td th:text="${User.phoneNumber}"></td>
            </tr>
            <div>
                <p>User Interests:</p>
                <ul th:if="${not #lists.isEmpty(User.interests)}">
                    <li th:each="in: ${User.interests}"  th:text="${in.description}"></li>
                </ul>
            </div>
            <div>
                <p>User reviews:</p>
                <ul th:if="${not #lists.isEmpty(User.reviews)}">
                    <li th:each="in: ${User.reviews}"  th:text="${in.review}"></li>
                </ul>
            </div>
            <div>
                <p>User visited places:</p>
                <ul th:if="${not #lists.isEmpty(User.places)}">
                    <li th:each="in: ${User.places}"  th:text="${in.name}"></li>
                </ul>
            </div>
        </table>


    </div>
</body>
</html>