<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Add new User</title>
</head>
<body>
    <div>

        <form method="post" th:action="@{/users/}" th:object="${userProfile}">
            <div>
                <input type="hidden" id="*{id}">
                <input id="password" placeholder="Enter Password" required type="text" th:field="*{password}"/>
                <input id="name" placeholder="Enter Name" required type="text" th:field="*{name}"/>
                <input id="emailId" placeholder="Enter Email" required type="text" th:field="*{emailId}"/>
                <input id="phoneNumber" placeholder="Enter Number" required type="text" th:field="*{phoneNumber}"/>
            </div>
            <br>
            <div class="col-md-12">
               <select th:field="*{interests}">
                   <th:block th:each="int : ${SetInterest}">
                       <option th:text="${int.interest}" th:value="${int.id}"/>
                   </th:block>
               </select>

            </div>
            <br>
            <div>
                <input type="submit" value="Create User">
            </div>
        </form>
    </div>
</body>
</html>